/* static/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

table {
    width: 100%;
    border-collapse: separate;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #515151;
}

tr:nth-child(even) {
    background-color: #ffffff; /* Alternate row color */
}

tr.suspected-true {
    background-color: #ff8888; /* Background color for rows with "true" in suspected column */
}

tr.suspected-false {
    background-color: #66ffb5cb; /* Background color for rows with "true" in suspected column */
}


/* login and register pages */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}



/* CSS for flashed messages */
.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}




/* Navigation bar */
header {
    background-color: #0b4749;
    color: #fff;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555; /* Darken background on hover */
}





/* Button styling */
.button {
    display: inline-block;
    padding: 15px 25px; /* Larger padding for bigger buttons */
    margin-right: 15px; /* Space between buttons */
    margin-bottom: 15px;
    border: 2px solid #333; /* Border color */
    border-radius: 20px; /* Rounded corners */
    background-color: #fff; /* Button background color */
    color: #333; /* Text color */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Font size */
    width: 200px; /* Fixed width for buttons */
    text-align: center; /* Center text horizontally */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transitions */
}

.button:hover {
    background-color: #333; /* Darker background color on hover */
    color: #fff; /* Light text color on hover */
    border-color: #333; /* Darker border color on hover */
}