<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Logs</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Event</th>
                <th>Time</th>
                <th>Name</th>
                <th>Suspected</th>
                <th>VID</th>
                <th>PID</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr class="{% if log.suspected %}suspected-true{% else %}suspected-false{% endif %}">
                <td>{{ log.id }}</td>
                <td>{{ log.event }}</td>
                <td>{{ log.time }}</td>
                <td>{{ log.name }}</td>
                <td>{{ log.suspected }}</td>
                <td>{{ log.vid }}</td>
                <td>{{ log.pid }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
